body{
    background-color:var(--mainBackgroundColor);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 100%;
    color:var(--mainFontColor);
    display: block;
    text-align: center;
}

a{
    color: var(--mainFontColor);
    text-decoration: none;
}

.myBody{
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
}